#header {
  height: 7em;
}

#sidebar {
  height: 100%;
}

#SearchCol {
  height: 8em;
  align-items: flex-start;
}

body {
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.row {
}

.check-box-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .inputs {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 576px) {
  .paramitem {
    display: block !important;
  }
}

.item-button {
  width: 70%;
}

.btn_size_multi {
  width: 20%;
  height: inherit;
  margin-right: .2em;
  min-width: 4.3em;
  padding: 0;
  border-style: none;
}

.btn_size {
  width: 70%;
  height: inherit;
}

.item_inher {
  width: 100%;
  height: 2em;
  padding-bottom: 2em;
}

#Dropdown-Card-Type {
}

.Activated {
  height: 30em !important;
}

.Param-Buttons-Selected {
  background: var(--bs-dropdown-color) !important;
}

.Param-Buttons-DeSelected {
}

#Monster {
  background: #FDE68A;
}

.slider_specs {
  width: 100%;
}

.my_div {
  width: 100%;
  padding: .5em;
  margin: 0;
  /*min-width: 10em;*/
}

.slider_color_overwrite {
  background: var(--bs-danger-text-emphasis)!important;
}

.para-buttons-font {
  color: var(--bs-body-bg);
  text-align: center;
}

.item_inher {
  border-style: none;
  background-color: initial !important;
}

.dropdown-menu-drops-on-click {
}

.push-down {
  height: 43em;
}

